<section class="block container">
    <header class="block__header">
        <h2>Host on the cloud to Keep Growing</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, quod.</p>
    </header>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
           <span class="icon-container">
               <svg class="icon">
                   <use xlink:href="images/sprite.svg#easy" class="icon icon--primary"></use>
               </svg>
           </span>
           <h3 class="feature__heading">Super Easy to use</h3>
           <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod aliquid accusantium error modi consectetur non.</p>
           <a href="" class="link-arrow">Learn more</a>
   
        </div>
        <img class="feature__image" src="./images/easy.jpg" alt="graph showing some data" srcset="">
   
    </article>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
           <span class="icon-container">
               <svg class="icon">
                   <use xlink:href="images/sprite.svg#computer" class="icon icon--primary"></use>
               </svg>
           </span>
           <h3 class="feature__heading">Super intelligent to use</h3>
           <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod aliquid accusantium error modi consectetur non.</p>
           <a href="" class="link-arrow">Learn more</a>
   
        </div>
        <img class="feature__image" src="./images/easy.jpg" alt="graph showing some data" srcset="">
   
    </article>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
           <span class="icon-container">
               <svg class="icon">
                   <use xlink:href="images/sprite.svg#clock" class="icon icon--primary"></use>
               </svg>
           </span>
           <h3 class="feature__heading">Super fast to use</h3>
           <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod aliquid accusantium error modi consectetur non.</p>
           <a href="" class="link-arrow">Learn more</a>
   
        </div>
        <img class="feature__image" src="./images/easy.jpg" alt="graph showing some data" srcset="">
   
    </article>
   
            
</section>
