<section class="block">
    <header class="block__header">
        <h2>What our Customers are saying</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam fugiat laboriosam voluptatem esse iure alias.</p>
    </header>
    <div class="container">
       <div class="card testimonial">
           <div class="grid grid--1x2">
               <div class="testimonial__image">
                   
                   <img  src="./images/testimonial.jpg" alt="Happy Customer">
                   <span class="icon-container icon--container--accent ">
                    <svg class="icon--small icon--accent ">
                        <use xlink:href="images/sprite.svg#quotes" class="icon icon--white"></use>
                    </svg>
                </span>
               </div>
               <blockquote class="quote">
                <p class="quote__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui tempore commodi doloribus provident iste animi nemo enim hic odio iure?</p>
                <footer>
                  <div class="media">
                      <div class="media__image">
                       
                           <svg class="icon icon--primary quote__line">
                               <use xlink:href="images/sprite.svg#line" class="icon icon--primary"></use>
                           </svg>
                       
                      </div>
                      <div class="media__body">
                          <h3 class="media__title quote__author">John Smith</h3>
                          <p class="quote__organization">
                              Dipak's Organization
                          </p>
                  
                      </div>
                  </div>
                </footer>
            
            </blockquote>
            
           </div>
       </div>
       
    </div>

</section>